<!-- <h2>{{ data | json }}</h2> -->

<ng-template #loadingContent>
  <app-spinner></app-spinner>
</ng-template>

<div *ngIf="!$loading(); else loadingContent">
  <ng-template #loading>
    <p>Para obtener resultados haga la busqueda por medio del filtro</p>
  </ng-template>

  <div *ngIf="resultsFilters().length > 0">
    <p class="text-muted text-end">{{ resultsFilters().length }} resultados encontrados</p>
  </div>

  <div *ngFor="let hotels of resultsFilters()" class="container mt-4 px-4">
    <div class="row border-lg background-color">
      <div class="col-lg-4 col-md-12 p-sm-0 border-lg">
        <img [src]="hotels.image" alt="Imagen del hotel" />
      </div>
      <div class="col-lg-4 col-md-12 px-3 p-md-2 border-lg border">
        <h5 class="fs-5 fs-md-6 mt-2">{{ hotels.name }}</h5>
        <p class="fs-6 fs-md-7">{{ hotels.city }}</p>
        <div class="d-flex align-items-center gap-2">
          <p class="fs-6 fs-md-7 m-0 btn btn-success">{{ hotels.scores }}</p>
          <!-- <p class="m-0">{{ hotels.rating }}</p> -->
          <p class="mb-1" [appRating]="hotels.rating"></p>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 px-3 p-md-2 border-lg rounded-end border">
        <p class="fs-5 fs-md-6 mt-1">precio por noche</p>
        <p class="fw-bold fs-4 fs-md-5">
          {{ hotels.price | currency }}
          <button class="btn btn-secondary btn-sm" type="button" [routerLink]="[hotels.idHotel]">
            Detalles
          </button>
          <!-- <button (click)="navigateToProductDetails()">hola</button> -->
        </p>

        <p class="fs-6 fs-md-7 fw-light">*{{ hotels.includes }}</p>
      </div>
    </div>
  </div>
</div>
