<div class="container accordion accordion-flush custom-width" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Question one
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore placeat ipsum pariatur nihil vel excepturi voluptatibus, odio assumenda beatae dolorem laboriosam quo suscipit ea id dolor. Harum, amet qui.
      Veritatis odio molestias eveniet quis quisquam cupiditate esse aliquid doloribus vel, omnis dolor quod inventore itaque repellendus. Earum ipsam inventore atque sapiente labore libero aperiam quis id? Eum, dolores id.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Question two
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit aliquid, mollitia error illo provident reprehenderit cupiditate ipsum atque architecto animi autem eum iusto pariatur dicta quibusdam vero harum delectus libero.
      Animi necessitatibus libero dolorem beatae corrupti nulla dolores, ut voluptates tempora ipsam perferendis adipisci, illo cumque enim? Harum et ratione possimus fugit enim pariatur, similique sed ut mollitia nostrum suscipit?</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Question three
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla sed soluta neque delectus dicta quo non sint ullam tempore consequatur perspiciatis quibusdam nisi, nostrum amet veniam recusandae laudantium nesciunt itaque!
      Iste quae placeat iusto repellat aut! Maiores dicta aperiam autem tempore aliquid ullam praesentium modi temporibus voluptates odio qui iusto nisi provident consequuntur repellat, itaque et unde vel. Sunt, suscipit!</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Question four
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam alias fuga sit quidem adipisci, molestias, qui omnis quam hic, a tempore? Sit aspernatur sapiente deserunt tempora at cum sunt ipsum.
      Exercitationem quis possimus aspernatur vero beatae numquam, voluptates expedita voluptas dolorum culpa ipsam fuga. Molestiae impedit earum tempore, delectus labore veniam asperiores voluptatibus mollitia quidem iste nulla amet aliquam quasi!</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Question five
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolores exercitationem quis error magnam. Possimus eaque ad velit obcaecati magnam voluptas omnis adipisci. Unde fuga, numquam quidem illum placeat dicta.
      Tempore reiciendis perspiciatis accusamus rem, eveniet sint vitae obcaecati voluptate dignissimos, iusto voluptas! Sunt id minus, saepe magni dolorem dolor officiis? Corporis officiis dicta, dolor amet cupiditate voluptates maxime vitae.</div>
    </div>
  </div>
</div>
