<nav class="navbar fixed navbar-light">
  <div class="container-fluid justify-content-around">
    <div class="navbar-brand">
      <small class="navbar-brand fs-4">HORUS FLY</small>
      <img src="https://img.icons8.com/?size=100&id=6eo3EprZFWZ3&format=png&color=000000" alt="logo" width="24" height="24" class="mb-2">
    </div>
    <ul class="d-flex gap-3 pointer list-unstyled mt-3" role="button">
      <li>Hora</li>
      <li>Vuelos</li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Hoteles
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li routerLink="/login/register">Register now!</li>
      <li routerLink="/login">Login</li>
    </ul>
  </div>
  <div class="d-flex justify-content-center w-100 mt-3 gap-4 gap-sm-5 gap-md-5 gap-lg-5">
    <div  class="text-center"
          role="button"
          [routerLink]="['/flights']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}"
    >
      <img src="https://img.icons8.com/?size=100&id=2487&format=png&color=000000" class="img-fluid icon-size">
      <p>Flights</p>
    </div>
    <div  class="text-center"
          role="button"
          [routerLink]="['/lodging']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}"
    >
      <img src="https://img.icons8.com/?size=100&id=561&format=png&color=000000" class="img-fluid icon-size">
      <p>Lodging</p>
    </div>
    <div  class="text-center"
          role="button"
          [routerLink]="['/']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}"
    >
      <img src="https://img.icons8.com/?size=100&id=OXVih02dFZ53&format=png&color=000000" class="img-fluid icon-size">
      <p>Home</p>
    </div>
    <div class="text-center"
         role="button"
         [routerLink]="['/packages']"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{exact: true}"
    >
      <img src="https://img.icons8.com/?size=100&id=TgMuTN1aeDv7&format=png&color=000000" class="img-fluid icon-size">
      <p>Packages</p>
    </div>
    <div class="text-center"
         role="button"
         [routerLink]="['/qa']"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{exact: true}"
    >
      <img src="https://img.icons8.com/?size=100&id=5471&format=png&color=000000" class="img-fluid icon-size">
      <p>Q&A</p>
    </div>
  </div>
</nav>
