
<div class="container mt-3">
  <p class="fs-2">Completa tus datos para finalizar con la reserva</p>
  <div class="row">
    <div class="col-md-8 col-12">
      <div class="card mt-3 p-4">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Promo code</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Confirm reservation</button>
        </form>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="card mt-3">
        <div class="card-header fw-bold">
          Total
        </div>
        <div class="card-body d-flex justify-content-between">
          <p class="card-title">Vuelo total por persona:</p>
          <p class="fw-bold">$10000</p>
        </div>
        <div class="card-body d-flex justify-content-between">
          <p class="card-title">Impuestos IVA:</p>
          <p class="fw-bold">$5000</p>
        </div>
        <div class="card-body d-flex justify-content-between">
          <p class="card-title fw-bold">TOTAL</p>
          <p class="fw-bold">$15000</p>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          Tenes problemas para elegir?
        </div>
        <div class="card-body">
          <h5 class="card-title">Llama:</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary" routerLink="/qa">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
