<nav class="navbar fixed navbar-light">
  <div class="container-fluid justify-content-around">
    <div class="navbar-brand">
      <small class="navbar-brand fs-4" routerLink="/" role="button">HORUS FLY</small>
      <img
        src="https://img.icons8.com/?size=100&id=6eo3EprZFWZ3&format=png&color=000000"
        alt="logo"
        width="24"
        height="24"
        class="mb-2"
      />
    </div>
    <ul class="d-flex gap-3 pointer list-unstyled mt-3" role="button">
      <li>Help</li>
    </ul>
  </div>
</nav>

<div class="background-img"></div>

<body>
  <div class="login-wrapper">
    <div class="login-container text-center">
      <h3 class="mb-4">Login</h3>
      <form [formGroup]="form" (ngSubmit)="submitLogin()">
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
            required
          />
        </div>
        <button class="btn btn-primary w-100 mb-2">Ingresar</button>
      </form>
      <a routerLink="/auth/register">Register</a>
    </div>
  </div>
</body>
