<div class="container mt-3" *ngIf="infoHotel$ | async as hotel">
  <p class="fs-2">Completa tus datos para finalizar con la reserva</p>
  <form [formGroup]="form" (submit)="formDatos()">
    <div class="row">
      <div class="col-md-8 col-12">
        <div class="card mt-3 p-4">
          <div class="mb-3 fw-bold fs-4">
            <p>Datos de tu reserva: {{ hotel.city }}, {{ hotel.country }}</p>
            <p>Hotel: {{ hotel.name }}</p>
          </div>
        </div>
        <div class="card mt-3 p-4">
          <div class="mb-3">
            <p>Cantidad de equipaje permitido por persona: {{ hotel.persons }}</p>
          </div>

          <div class="mb-3 d-flex gap-2">
            <div>
              <p>Cantidad de personas</p>
              <select
                formControlName="personsCount"
                class="form-select"
                aria-label="Default select example"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
              <p
                *ngIf="
                  form.get('personsCount')?.hasError('required') &&
                  form.get('personsCount')?.touched
                "
                style="color: red"
              >
                Debes seleccionar una opcion si deseas continuar.
              </p>
            </div>

            <div>
              <p>Cantidad habitaciones</p>
              <select
                formControlName="personsRoom"
                class="form-select"
                aria-label="Default select example"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <p
                *ngIf="
                  form.get('personsRoom')?.hasError('required') && form.get('personsRoom')?.touched
                "
                style="color: red"
              >
                Debes seleccionar una opcion si deseas continuar.
              </p>
            </div>
          </div>

          <div class="card-body">
            <div class="d-flex gap-2">
              <div>
                <label for="fecha">Fecha de Entrada:</label>
                <input
                  type="date"
                  class="form-control"
                  id="fecha-inicio"
                  name="dataIn"
                  formControlName="dataIn"
                  (change)="calculatedTotal(hotel)"
                  min="2025-04-09"
                  max="2025-12-31"
                />
                <p
                  *ngIf="form.get('dataIn')?.hasError('required') && form.get('dataIn')?.touched"
                  style="color: red"
                >
                  Debes seleccionar una fecha si deseas continuar.
                </p>
              </div>
              <div>
                <label for="fecha">Fecha de Salida:</label>
                <input
                  type="date"
                  class="form-control"
                  id="fecha-fin"
                  name="dataOut"
                  formControlName="dataOut"
                  (change)="calculatedTotal(hotel)"
                  min="2025-04-09"
                  max="2026-12-31"
                />
                <p
                  *ngIf="form.get('dataOut')?.hasError('required') && form.get('dataOut')?.touched"
                  style="color: red"
                >
                  Debes seleccionar una fecha si deseas continuar.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3 p-4">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input
              formControlName="name"
              class="form-control"
              id="nameuser"
              aria-describedby="nameHelp"
            />
            <p
              *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched"
              style="color: red"
            >
              El Name es obligatorio si deseas continuar.
            </p>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input
              formControlName="lastname"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <p
              *ngIf="form.get('lastname')?.hasError('required') && form.get('lastname')?.touched"
              style="color: red"
            >
              El Lastname es obligatorio si deseas continuar.
            </p>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input
              formControlName="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <p
              *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched"
              style="color: red"
            >
              El Email es obligatorio si deseas continuar.
            </p>
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone</label>
            <input
              formControlName="phone"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <p
              *ngIf="form.get('phone')?.hasError('required') && form.get('phone')?.touched"
              style="color: red"
            >
              El Phone es obligatorio si deseas continuar.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="card mt-3">
          <div class="card-header fw-bold">Total</div>
          <div class="card-body d-flex justify-content-between">
            <p class="card-title">Precio total por dias:</p>
            <p class="fw-bold">{{ hotel.price | currency }}</p>
          </div>
          <div class="card-body d-flex justify-content-between">
            <p class="card-title">Fecha seleccionada:</p>
            <p class="fw-bold">Desde {{ this.dataIn }}, hasta {{ this.dataOut }}</p>
          </div>
          <div class="card-body d-flex justify-content-between">
            <p class="card-title">Impuestos IVA:</p>
            <p class="fw-bold">$40.00</p>
          </div>
          <div class="card-body d-flex justify-content-between">
            <p class="card-title fw-bold">TOTAL</p>
            <p class="fw-bold">{{ totalPrice | currency }}</p>
          </div>

          <div class="card-body text-center">
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              [disabled]="form.invalid || !$user()"
              (click)="formDatos()"
            >
              Confirmar Reservación
            </button>
            <div
              *ngIf="!form.invalid"
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Solicitud de Reserva</h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <img
                      src="https://img.icons8.com/?size=100&id=102561&format=png&color=000000"
                      alt="check"
                      width="50"
                      height="50"
                    />
                    <h4>Tu solicitud se realizado con exito!</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Cerrar
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                      <a
                        class="text-white text-decoration-none"
                        [routerLink]="['/auth/profile/reserve']"
                        >Detalle de reserva</a
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <p *ngIf="!$user()">Para finalizar la compra acceda a su cuenta</p>
            <img
              src="https://www.comafi.com.ar/Multimedios/imgs/900_540.jpg"
              alt="pagos"
              class="img-fluid mt-2"
            />
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">Tenes problemas para elegir?</div>
          <div class="card-body">
            <h5 class="card-title">Consultas:</h5>
            <p class="card-text">Soporte en caso de que haya consultas</p>
            <a href="#" class="btn btn-primary" routerLink="/qa">Ir a preguntas frecuentes</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
