<div class="form-holder">
  <div class="form-content">
    <div class="form-items d-flex flex-wrap text-dark justify-content-center align-items-center">

      <div class="p-3 w-20 col-lg-2 col-md-6 col-6 order-md-1 text-center">Aerolinea</div>
      <div class="p-3 w-20 col-lg-2 col-md-6 col-6 order-md-1 order-lg-3 text-center">DIAS</div>

      <div class="p-3 w-20 col-lg-2 col-md-4 col-4 order-md-2">
        <p class="mb-0 fw-bold responsive-text">Ida</p>
        <p class="mb-0 fw-bold responsive-text">Fecha</p>
        <p class="mb-0 responsive-text">Hora</p>
      </div>

      <div class="p-3 w-20 col-lg-2 col-md-4 col-4 order-md-2">
        <p class="mb-0 fw-bold responsive-text">Vuelta</p>
        <p class="mb-0 fw-bold responsive-text">Fecha</p>
        <p class="mb-0 responsive-text">Hora</p>
      </div>

      <div class="p-3 w-20 col-lg-2 col-md-4 col-4 order-md-2 text-center">Columna 5</div>

      <div class="p-3 w-20 col-lg-2 col-md-12 col-12 order-md-3 text-center">
        <p class="mb-0 responsive-text">A partir de</p>
        <p class="mb-0 fw-bold responsive-text">$precio</p>
        <div class="mt-2">
          <button type="button" class="btn btn-secondary">Siguiente ></button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- va a aparecer por medio de un condicional si se hace la busqueda
  de algun vuelo y se van a reflejar los datos aca -->
