@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 30px;
}

@media (max-width: 992px) {
  .form-content .form-items {
    width: 100%;
  }
}

.responsive-text {
  font-size: clamp(12px, 2vw, 18px);
}

@media (max-width: 991px) {
  .order-md-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .form-content .form-items {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .responsive-text {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .responsive-text {
    font-size: 18px;
  }
}

.form-content .form-items {
  border: 1px solid #15273327;
  border-radius: 10px;
  text-align: left;
  transition: all 0.4s ease;
  width: 100%;
}

@media (min-width: 1200px) {
  .form-content .form-items {
    width: 80%;
  }
}

@media (min-width: 1401px) {
  .form-content .form-items {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .form-content .form-items {
    width: 70%;
  }

  .responsive-text {
    font-size: clamp(13px, 1.5vw, 16px);
  }

  .form-items button {
    padding: 5px 10px;
    font-size: 14px;
  }

  .form-content .form-items {
    max-height: 30vh;
  }
}

@media (max-width: 576px) {
  .form-content .form-items {
    width: 100%;
  }
}

.custom-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 992px) {
  .custom-layout {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .form-content .form-items {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .form-content .form-items {
    width: 100%;
  }
}

.rotate-img {
  transform: rotate(180deg);
}

// icon
.icon-size img {
  filter: brightness(0) saturate(100%) invert(40%) sepia(94%) saturate(500%) hue-rotate(95deg)
    brightness(90%) contrast(100%);
}
