<ng-template #loadingFlights>
  <app-spinner></app-spinner>
</ng-template>

<div *ngIf="!$loadingFlights(); else loadingFlights">
  <div class="form-holder" *ngFor="let fly of data()">
    <div class="form-content">
      <div class="form-items d-flex flex-wrap text-dark justify-content-center align-items-center">
        <div class="p-3 p-sm-2 w-20 col-lg-2 col-md-6 col-6 order-md-1 text-center">
          <img [src]="fly.airplaneIcon" width="24" height="24" alt="suitcase" />
          {{ fly.airline }}
        </div>
        <div class="p-3 p-sm-2 w-20 col-lg-2 col-md-6 col-6 order-md-1 text-center icon-size">
          <img
            *ngFor="let suitcase of [].constructor(fly.suitcases); let i = index"
            src="https://img.icons8.com/?size=100&id=S7Ih1iuIPEbW&format=png&color=000000"
            width="24"
            height="24"
            alt="suitcase"
          />
        </div>

        <div class="w-20 col-lg-2 col-md-4 col-4 order-md-2">
          <div class="d-flex gap-1 mt-2">
            <img
              src="https://img.icons8.com/?size=100&id=2320&format=png&color=000000"
              width="20"
              height="20"
              alt="avion"
            />
            <p class="mb-0 fw-bold responsive-text">Ida</p>
          </div>
          <p class="mb-0">{{ fly.fromCity }}</p>
        </div>

        <div class="w-20 col-lg-2 col-md-4 col-4 order-md-2" *ngIf="fly.dateReturn">
          <div class="d-flex gap-1 mt-2">
            <img
              src="https://img.icons8.com/?size=100&id=2320&format=png&color=000000"
              width="20"
              height="20"
              class="rotate-img"
              alt="avion"
            />
            <p class="mb-0 fw-bold responsive-text">Vuelta</p>
          </div>
          <p class="mb-0">{{ fly.toCity }}</p>
        </div>

        <div class="p-3 p-sm-2 w-20 col-lg-2 col-md-12 col-12 order-md-3 custom-layout">
          <div class="text-content">
            <p class="mb-0 responsive-text">A partir de</p>
            <p class="mb-0 fw-bold responsive-text">${{ fly.price }}</p>
          </div>
          <div class="button-container">
            <button
              type="button"
              class="btn btn-secondary"
              [routerLink]="['/checkout', fly.idVuelo]"
            >
              Siguiente >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
