<app-top-bar></app-top-bar>
<div class="container wrapper d-flex align-items-stretch">
  <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
    >
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Datos</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          [routerLink]="['/auth/profile/reserve']"
          class="nav-link link-dark"
          aria-current="page"
          routerLinkActive="text-decoration-underline"
        >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Reservas
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/auth/profile/user']"
          routerLinkActive="text-decoration-underline"
          class="nav-link link-dark"
        >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Tus datos
        </a>
      </li>
    </ul>
  </div>
  <div class="conditional">
    <router-outlet></router-outlet>
  </div>
</div>
