<!-- <div *ngIf="infoHotel$ | async as hotel">
  <h2>{{ hotel.name }}</h2>
</div> -->

<div class="container mt-4" *ngIf="infoHotel$ | async as hotel">
  <div class="row">
    <div class="col-md-7 col-12">
      <swiper-container
        class="mySwiper"
        space-between="30"
        pagination="true"
        pagination-clickable="true"
      >
        <!-- <swiper-slide *ngFor="let item of imagenes">
          <img [src]="item" alt="" class="img-fluid" />
        </swiper-slide> -->
        <swiper-slide>
          <img [src]="hotel.image" alt="" class="img-fluid" />
        </swiper-slide>
      </swiper-container>
    </div>

    <div class="col-md-5 col-12">
      <div class="box mt-3">
        <p>{{ hotel.city }}, {{ hotel.country }}</p>
        <h3>{{ hotel.name }}</h3>
        <br />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta culpa blanditiis magnam
          ab voluptates. Quibusdam repellendus fugiat asperiores, aspernatur harum veritatis
          repellat fugit nobis animi earum, culpa aut nulla in. Reprehenderit tempora esse et iure
          animi saepe sunt, ducimus eveniet unde distinctio quam magni quia ipsum ab omnis assumenda
          nulla corporis dolorum sit dicta quasi rerum eaque! Assumenda, accusantium possimus?
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <p class="fs-2">Opciones/ variantes de precios segun la cantidad de dias</p>
    <div class="row">
      <div class="col-md-8 col-12">
        <div class="card mt-3">
          <div class="card-header">Caracteristicas del Hotel</div>
          <div class="card-body">
            <h5 class="card-title">Caracteristicas:</h5>
            <p class="card-text">Ciudad : {{ hotel.city }}</p>
            <p class="card-text">Precio por noche: {{ hotel.price | currency }}</p>
            <p class="card-text">Valoracion del hotel: {{ hotel.scores }}</p>
            <a href="#" class="btn btn-primary" routerLink="/checkout"> Confirmar reservacion </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="card mt-3">
          <div class="card-header">Tenes problemas para elegir?</div>
          <div class="card-body">
            <h5 class="card-title">Consultas:</h5>
            <p class="card-text">Soporte en caso de que haya consultas</p>
            <a href="#" class="btn btn-primary" routerLink="/qa">Ir a preguntas frecuentes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
